services:
  opensearch:
    image: opensearchproject/opensearch:2.17.0
    container_name: opensearch
    environment:
      - discovery.type=single-node
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - DISABLE_SECURITY_PLUGIN=true
      - network.host=0.0.0.0  # ADD THIS LINE
      - http.host=0.0.0.0  
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
    networks:
      - monitoring-net
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: api_monitor
      POSTGRES_PASSWORD: api_monitor_pass
      POSTGRES_DB: api_monitoring
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - monitoring-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U api_monitor"]
      interval: 10s
      timeout: 5s
      retries: 5

  fluentd:
    build:
      context: ./fluentd
      dockerfile: Dockerfile
    container_name: fluentd
    network_mode: "host"
    volumes:
      - ./fluentd/conf:/fluentd/etc:ro
      - ./fluentd/logs:/var/log/fluentd
      - fluentd-buffer:/var/log/fluentd-buffer
    ports:
      - "24224:24224"
      - "24224:24224/udp"
      - "9880:9880"
    # depends_on:
    #   opensearch:
    #     condition: service_healthy
    #   postgres:
    #     condition: service_healthy
    environment:
      FLUENTD_CONF: fluentd.conf
    restart: unless-stopped
    extra_hosts:
    - "opensearch:172.19.0.4"

  backend:
    build:
      context: ../../backend/java-apis
      dockerfile: Dockerfile
    container_name: api-monitoring-backend
    network_mode: "host" 
    environment:
      SERVER_PORT: 8081
      SPRING_PROFILES_ACTIVE: docker
      OPENSEARCH_HOST: localhost
      OPENSEARCH_PORT: 9200
      OPENSEARCH_SCHEME: http
      OPENSEARCH_USERNAME: ""
      OPENSEARCH_PASSWORD: ""
      SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/api_monitoring
      SPRING_DATASOURCE_USERNAME: api_monitor
      SPRING_DATASOURCE_PASSWORD: api_monitor_pass
    ports:
      - "8081:8081"
    depends_on:
      opensearch:
        condition: service_healthy
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/health"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  monitoring-net:
    driver: bridge

volumes:
  opensearch-data:
  postgres-data:
  fluentd-buffer: