services:
  opensearch:
    image: opensearchproject/opensearch:latest
    container_name: opensearch
    environment:
      discovery.type: single-node
      OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: "Str0ng@ApiMon#2025"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
    networks:
      - monitoring-net

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: opensearch-dashboards
    environment:
      OPENSEARCH_HOSTS: '["https://opensearch:9200"]'
      OPENSEARCH_USERNAME: "admin"
      OPENSEARCH_PASSWORD: "Str0ng@ApiMon#2025"
      OPENSEARCH_SSL_VERIFICATIONMODE: "none"
    depends_on:
      - opensearch
    ports:
      - "5601:5601"
    networks:
      - monitoring-net

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: api_monitor
      POSTGRES_PASSWORD: api_monitor_pass
      POSTGRES_DB: api_monitoring
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - monitoring-net

networks:
  monitoring-net:
    driver: bridge

volumes:
  opensearch-data:
  postgres-data:
