body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    color: #111;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


body.dark {
    background: #222;
    color: #fafafa;
}

[data-debug-wrapper="true"] {
    display: contents !important;
}

[data-debug-wrapper="true"] > * {
    margin: inherit;
    padding: inherit;
    gap: inherit;
  
}